.title-content {
  padding : 50px 0px 30px 0px;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.recipe-title {
  color: #E0B0FF;
}

.recipe-content {
  width: 75%;
  margin: auto;
  border: solid 10px #ededed;;
  border-radius: 30px;
}

div.ingredients-content {
  width: 50%;
  margin: auto;
  padding: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

div.method-content {
  width: 75%;
  margin: auto;
  padding: 0px 0px 20px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

ul {
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}
ol {
  padding: 10px;
}


@media (min-width: 600px) {
    ul.ingredients-list {
    column-count: 1; /* Minimum number of columns */
    }
}
@media (min-width: 900px) {
    ul.ingredients-list {
    column-count: 2;
    }
}

li {
  list-style: none;
  padding: 0px;
  margin: 2px;
  border-radius: 5px;
  color: #303030;
  background-color: #f8f8f8;
}
